---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    {% seo %}
  </head>

  <meta name="google-site-verification" content="6beAgIEZf8iojFBPDhXGqn2Ji-s6OUWtaTEOviA7fxo" />
  
  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    </script>

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>

{% if site.google_verify %}
    <meta name="google-site-verification" content="{{ site.google_verify }}">
{% endif %}
